@media (max-width: 1023px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 639px) {
	html {
		font-size: 87.5%;
	}
}

body {
	font-family: 'Inter', sans-serif;
	@apply text-text bg-background;
	transition: background 0.7s ease, color 0.7s ease;
}

button {
	transition: background 0.7s ease, color 0.7s ease;
}

.font-rajdhani {
	font-family: Rajdhani, sans-serif;
}

.slide-fade-enter-active {
	transition: all .4s ease;
}

.slide-fade-leave-active {
	transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(10px);
	opacity: 0;
}

.dark body {
	background-color: #1F1A24;
}

.dark .dots {
	background-color: #1F1A24;
	color: #5965e0;
}

.dark .dark-mode {
	background-color: #332940;
	color: #b3b9ff;
}

.dark .profile-dark {
	color: #b3b9ff;
}

.dark .login-darkMode {
	color: white;
}


